{{ define "main" }}
  <div class="taxonomy-header">
    <p style="display: flex; align-items: center;">
      <span>Found <span id="journal-count">{{ len (where .Site.RegularPages ".Params.issn" "!=" nil) }}</span> data journal(s)</span>
      <span style="margin-left: auto; display: flex; gap: 16px; align-items: center;">
        <a href="/about"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-label="About">
          <circle cx="12" cy="12" r="10"/>
          <line x1="12" y1="8" x2="12" y2="8"/>
          <line x1="12" y1="12" x2="12" y2="16"/>
        </svg></a>
        <a href="https://github.com/tsmdt/data-journal-dashboard/" target="_blank"><img src="/logos/GitHub_Invertocat_Black.svg" width="24" height="24"></img></a>
        <span>{{ site.Params.version }}</span>
      </span>
      <div id="active-filters" style="display:none; flex-wrap:wrap; gap:8px;"></div>
    </p>
  </div>

  <div class="journal-grid" id="journal-list">
    {{ range where .Site.RegularPages ".Params.issn" "!=" nil }}
    <a class="journal-card" href="{{ .RelPermalink }}"
        data-title="{{ .Title }}" 
        data-publisher="{{ .Params.publisher | jsonify }}"
        data-data-journal-type="{{ .Params.data_journal_type | jsonify }}"
        data-keywords="{{ .Params.keywords | jsonify }}"
        data-research-fields="{{ .Params.research_fields | jsonify }}"
        data-license-types="{{ .Params.license_types | jsonify }}">
      <h3>{{ .Title }}</h3>
      {{ if .Params.publisher }}
      <p class="meta"><strong>Publisher:</strong> {{ index .Params.publisher 0 }}</p>
      {{ end }}
      {{ if .Params.data_journal_type }}
      <p class="meta"><strong>Data Journal Type:</strong> {{ index .Params.data_journal_type 0 }}</p>
      {{ end }}
      {{ if .Params.keywords }}
      <p class="meta"><strong>Keywords:</strong> {{ delimit .Params.keywords ", " }}</p>
      {{ end }}
      {{ if .Params.research_fields }}
      <p class="meta"><strong>Research Fields:</strong> {{ delimit .Params.research_fields ", " }}</p>
      {{ end }}
    </a>
    {{ end }}
  </div>
{{ end }}
