<aside class="sidebar">
  <h2 align="left"><a href="{{ .Site.BaseURL }}">Data Journals Dashboard</a></h2>

  <div class="filter-group">
    <label for="search-input">Search</label>
    <input type="text" id="search-input" class="filter-input" placeholder="Search the collection ...">
  </div>

  <div class="filter-group">
    <label for="type-filter">Data Journal Type</label>
    <select id="type-filter" class="filter-input">
      <option value="">All Types</option>
      {{ range $name, $pages := .Site.Taxonomies.data_journal_type }}
      <option value="{{ $name }}">{{ $name }}</option>
      {{ end }}
    </select>
  </div>

  <div class="filter-group">
    <label for="publisher-filter">Publisher</label>
    <select id="publisher-filter" class="filter-input">
      <option value="">All Publishers</option>
      {{ with $.Site.GetPage "/publisher" }}
      {{ range .Pages }}
      <option value="{{ .Title }}">{{ .Title }}</option>
      {{ end }}
      {{ end }}
    </select>
  </div>

  <div class="filter-group">
    <label for="license-filter">License Type</label>
    <select id="license-filter" class="filter-input">
      <option value="">All License Types</option>
      {{ with $.Site.GetPage "/license_types" }}
      {{ range .Pages }}
      <option value="{{ .Title }}">{{ .Title }}</option>
      {{ end }}
      {{ end }}
    </select>
  </div>

  <div class="filter-group">
    <label for="reasearch-field-filter">Research Fields</label>
    <select id="reasearch-field-filter" class="filter-input">
      <option value="">All Research Fields</option>
      {{ with $.Site.GetPage "/research_fields" }}
      {{ range .Pages }}
      <option value="{{ .Title }}">{{ .Title }}</option>
      {{ end }}
      {{ end }}
    </select>
  </div>

</aside>
